<div class="container mt-5">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.body %></p>
    <% if current_user %>
      <small><b>By</b> <%= @post.user.username %></small>
    <% end %>
  </div>
</div>
</div>